[Unit]
Description=Powertop Autostart
Documentation="https://github.com/tur1ngb0x/powertop-autostart/blob/main/README.md"
ConditionPathExists=/usr/bin/powertop
ConditionPathExists=/usr/local/bin/pwrtp.sh
ConditionFileIsExecutable=/usr/local/bin/pwrtp.sh
ConditionFileNotEmpty=/usr/local/bin/pwrtp.sh

[Service]
Type=idle
Environment="TERM=dumb"
ExecStart=/usr/local/bin/pwrtp.sh
User=root
Group=root

[Install]
WantedBy=multi-user.target
